<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Clasification</th>
            <th scope="col">Year</th>
            <th scope="col">Aroma</th>
            <th scope="col">Swetness Level</th>
            <th scope="col">Acidity Level</th>
            <th scope="col">Alcohol (%)</th>
            <th scope="col">Aditional Notes</th>
            <th scope="col" span="2" class="text-center">ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let wine of wineList; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
                {{wine.id}}
            </td>
            <td>
                {{ wine.name }}
            </td>
            <td>
                {{clasificationList? clasificationList[wine?.clasification]?.description : ""}}
            </td>
            <td>
                {{wine.year}}
            </td>
            <td>
                {{wine.aroma}}
            </td>
            <td>
                {{sweetnessList? sweetnessList[wine?.swetness]?.description : ""}}
            </td>
            <td>
                {{acidityList? acidityList[wine?.acidity]?.description : ""}}
            </td>
            <td>
                {{wine.alcohol}}
            </td>
            <td>
                {{wine.notes}}
            </td>
            <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="updateById(wine.id)">Edit info</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger btn-sm"
                    (click)="deleteById(wine.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>