<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Clasification</th>
            <th scope="col">Year</th>
            <th scope="col">Swetness Level</th>
            <th scope="col">Acidity Level</th>
            <th scope="col">Alcohol (%)</th>
            <th scope="col">Aditional Notes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let wine of wineList; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
                {{wine.id}}
            </td>
            <td>
                {{ wine.name }}
            </td>
            <td>
                {{wine.clasification}}
            </td>
            <td>
                {{wine.year}}
            </td>
            <td>
                {{wine.Fswetness}}
            </td>
            <td>
                {{wine.acidity}}
            </td>
            <td>
                {{wine.alcohol}}
            </td>
            <td>
                {{wine.notes}}
            </td>
            <td>

            </td>
        </tr>
    </tbody>
</table>